<%- include('templates/header-hamburger') %>

    <div class="text-center">
        <div id="inquiriesContainer">
            <% if (inquiries && inquiries.length> 0) { %>
                <h1>Inquiries:</h1>
                <ul style=" list-style-type: none;">
                    <% inquiries.forEach((inquiry)=> { %>
                        <li><span id="title">Name:</span> <%= inquiry.name %>, <span id="title">Email:</span> <%= inquiry.email %>, <span id="title">Subject:</span> <%= inquiry.subject %>,
                                        <span id="title">Description:</span> <%= inquiry.description %>
                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <p>No inquiries found.</p>
                    <% } %>
        </div>
    </div>

    <%- include('templates/footer') %>
    
    <style>
        li {
            margin-top:1.5%;
            font-size: 20px;
            text-align: start;
        }

        h1 {
            margin-top:2%;
            margin-bottom:3%;
        }

        #title {
            font-weight: bold;
        }
    </style>