<%- include('templates/header-back-arrow'); %>
    <script src="/js/flights.js"></script>

    <div>
        <h2 class="text-center">Departing Flights:</h2>
    </div>

    <!-- https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/ & ChatGPT help expanding to multiple cards-->
    <!-- https://getbootstrap.com/docs/5.1/components/collapse/ -->
    <!-- https://stackoverflow.com/questions/2013255/how-to-get-year-month-day-from-a-date-object -->
    <div class="container">
        <% if (validDepartingFlights.length == 0){%>
            <h2 class="text-center m-3">No Flights Found</h2>
        <% }%>
        <% for(let i=0; i < validDepartingFlights.length; i++){%>
            <div class="card mt-3">
                <h5 class="card-header d-flex justify-content-between align-items-center ps-1"
                    onclick="headerClicked(event, '<%=JSON.stringify(validDepartingFlights[i])%>')">
                    <div class="d-flex align-items-center pe-2 ps-2">
                        <div id="imageDiv" style="max-height: 70x; max-width: 70px;">
                            <img src="/images/<%= validDepartingFlights[i].provider%>.png"
                                alt="<%= validDepartingFlights[i].provider%>"
                                style="max-height: 100%; max-width: 100%;">
                        </div>
                    </div>
                    <div class="d-flex flex-column card-content pe-3">
                        <div class="d-flex">
                            <p class="card-text bold noWrap">
                                <%= validDepartingFlights[i].number %>
                            </p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text noWrap">From: <%= validDepartingFlights[i].departing %>
                            </p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text noWrap">To: <%= validDepartingFlights[i].arriving %>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column card-content pe-3 flex-fill">
                        <div class="d-flex">
                            <p class="card-text bold noWrap">$<%= validDepartingFlights[i].price * travellers%>
                            </p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text noWrap">Depart: <%=
                                    validDepartingFlights[i].departureDate.toISOString().split('T')[0]; %>
                            </p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text noWrap">Arrive: <%=
                                    validDepartingFlights[i].arrivalDate.toISOString().split('T')[0]; %>
                            </p>
                        </div>
                    </div>
                    <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-collapsed-<%=i%>"
                        aria-expanded="false" aria-controls="collapse-collapsed-<%=i%>" id="heading-collapsed-<%=i%>">
                        <i class="fas fa-chevron-down fa-lg" style="color: #062c43"></i>
                    </a>
                </h5>
                <div id="collapse-collapsed-<%=i%>" class="collapse" aria-labelledby="heading-collapsed-<%=i%>">
                    <div class="d-flex justify-content-between align-items-center pe-3">
                        <div class="d-flex flex-column card-content p-2">
                            <div class="d-flex m-1">
                                <p class="card-text">Flight Type: <%= validDepartingFlights[i].type %>
                                </p>
                            </div>
                            <div class="d-flex m-1">
                                <p class="card-text">Provider: <%= validDepartingFlights[i].provider %>
                                </p>
                            </div>
                            <div class="d-flex m-1">
                                <p class="card-text">Model: <%= validDepartingFlights[i].model %>
                                </p>
                            </div>
                            <div class="d-flex m-1">
                                <p class="card-text">Emissions: <%= validDepartingFlights[i].emissions %>t CO2e
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-column card-content p-2 align-self-start flex-fill">
                            <div class="d-flex m-1">
                                <p class="card-text">Departure Time: <%= validDepartingFlights[i].departureTime %>
                                </p>
                            </div>
                            <div class="d-flex m-1">
                                <p class="card-text">Arrival Time: <%= validDepartingFlights[i].arrivalTime %>
                                </p>
                            </div>
                            <div class="d-flex m-1">
                                <p class="card-text">Travellers: <%= travellers %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }; %>
    </div>

    <script>
        function headerClicked(event, flightObject) {
            //Checks that header but not chevron icon is clicked to proceed
            if (!event.target.classList.contains('fa-chevron-down')) {
                sendSelected('departing', flightObject);
            }
        }
    </script>

    <%- include('templates/footer'); %>