<%- include('templates/header-hamburger') %>
    <h1 class="display-6 text-center">My Bookings</h1>
    <br>
    
    
        <h2 class="text-center">Departing Flights</h2>
        <div class="container">
            <div class="row justify-content-center ">
                <% departingFlights.forEach(function(departingFlight, index) { %>
                    <div class="col-md-4 mb-4" id="departing-flight-<%= index %>">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title"> Flight Number: <%= departingFlight.flightNumber %>
                                </h5>
                                <p class="card-text">Destination: <%= departingFlight.destination %>
                                </p>
                                <p class="card-text">Departure Time: <%= departingFlight.departureTime %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    
    
        <h2 class="text-center">Return Flights</h2>
        <div class="container">
            <div class="row justify-content-center ">
                <% returningFlights.forEach(function(returningFlight, index) { %>
                    <div class="col-md-4 mb-4" id="returning-flight-<%= index %>">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Flight Number: <%= returningFlight.flightNumber %>
                                </h5>
                                <p class="card-text">Destination: <%= returningFlight.destination %>
                                </p>
                                <p class="card-text">Departure Time: <%= returningFlight.departureTime %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    
   
        <h2 class="text-center">Hotels</h2>
        <div class="container">
            <div class="row justify-content-center ">
                <% hotels.forEach(function(hotel, index) {%>
                    <div class="col-md-4 mb-4" id="hotels-<%= index %>">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Hotel name: <%= hotel.hotelName %>
                                </h5>
                                <p class="card-text">Rating: <%= hotel.hotelRating %>
                                </p>
                                <p class="card-text">Price: $<%= hotel.hotelPrice %>
                                </p>
                                <p class="card-text">Location: <%= hotel.hotelRegion %>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <%- include('templates/footer') %>