<%- include('templates/header-back-arrow'); %>
<script src="/js/flights.js"></script>

    <div>
        <h2 class="text-center">Returning Flights:</h2>
    </div>

    <!-- https://stackoverflow.com/questions/49141874/bootstrap-4-card-panel-with-image-left-of-header-and-title -->
    <div class="container">
        <div class="row justify-content-center ">
            <% for(let i = 0; i < validReturnFlights.length; i++){%>
                <div class="container">
                    <div class="card flex-row flex-wrap d-flex"
                        onclick="sendSelected('returning', '<%= JSON.stringify(validReturnFlights[i])%>')" style="cursor: pointer;"
                        id="<%= validReturnFlights[i].number%>">
                        <div class="d-flex align-items-center justify-content-center ps-3">
                            <img src="/images/<%= validReturnFlights[i].provider%>.png" class="image-fluid" alt="">
                        </div>
                        <% console.log(validReturnFlights[i]);%>
                        <div class="card-body">
                            <h5 class="card-title">Flight #: <%= validReturnFlights[i].number %></h5>
                            <p class="card-text">From: <%= validReturnFlights[i].departing %></p>
                            <p class="card-text">To: <%= validReturnFlights[i].arriving %></p>
                            <p class="card-text">Departure Date: <%= validReturnFlights[i].departureDate %></p>
                            <p class="card-text">Departure Time: <%= validReturnFlights[i].departureTime %></p>
                            <p class="card-text">Arrival Date: <%= validReturnFlights[i].arrivalDate %></p>
                            <p class="card-text">Arrival Time: <%= validReturnFlights[i].arrivalTime %></p>
                            <p class="card-text">Flight Type: <%= validReturnFlights[i].type %></p>
                            <p class="card-text">Provider: <%= validReturnFlights[i].provider %></p>
                            <p class="card-text">Model: <%= validReturnFlights[i].model %></p>
                            <p class="card-text">Price: $<%= validReturnFlights[i].price * travellers%></p>
                        </div>
                    </div>
                </div>
                <% }; %>
        </div>
    </div>

    <%- include('templates/footer'); %>